@import 'tailwindcss';

@theme {
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);

  --color-primary: #0e1112;
  --color-grey: #484b4b;
  --color-accent: #eef7f9;

  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 74.5rem; /* 1192px ≈ 74.5rem */
  --breakpoint-2xl: 90rem; /* 1440px */
  --breakpoint-3xl: 120rem; /* 1920px */
  --breakpoint-4xl: 140rem; /* 2160px */
}

@layer base {
  body {
    @apply text-primary font-secondary bg-white;
  }
  .h1 {
    @apply text-[50px] md:text-[60px] lg:text-[70px] 2xl:text-[90px] 3xl:text-[120px] 4xl:text-[135px]  font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2 min-w-min max-w-[1300px];               
  }
  .section {
    @apply min-h-screen w-full;
  }
  .btn {
    @apply py-[18px] px-[50px] h-[66px] flex items-center justify-center text-base uppercase font-secondary font-semibold bg-primary text-white;
  }
}
